@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-kumbh-sans: 'Kumbh Sans', sans-serif;
    --font-roboto-slab: 'Roboto Slab', serif;
    --font-space-mono: 'Space Mono', monospace;
    --font-base: var(--font-kumbh-sans);

    --background: 235 35% 18%;
    --foreground: 227 100% 92%;

    --primary: 0 91% 71%;
    --primary-foreground: 235 35% 18%;

    --muted: 234 39% 14%;

    --secondary-foreground: 234 39% 14%;
  }

  [data-theme='red-variant'] {
    --primary: 0 91% 71%;
  }

  [data-theme='blue-variant'] {
    --primary: 182 91% 71%;
  }

  [data-theme='purple-variant'] {
    --primary: 284 89% 74%;
  }

  body {
    @apply bg-background font-base text-foreground antialiased;
  }

  .progress-container {
    background: linear-gradient(hsla(var(--muted)) 32%, #2e325a 100%);
    box-shadow:
      -50px -50px 100px #272c5a,
      50px 50px 100px #121530;
  }
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
